<!DOCTYPE html>
<html>
  <head>
    <!-- [Server Data] -->
    <title> Jose.Miguel.Malaca@me </title>
    <meta charset="utf-8" />
    <meta name="author" content="Jose Miguel Malaca" />
    <meta name="description" content="About José Miguel Malaca" />
    <meta name="keywords" content="jose,miguel,malaca,josemiguelmalaca,node.js,server,rest,personal"/>

    <!--
               _____          __                        
              /     \ _____  |  | _____    ____ _____   
             /  \ /  \\__  \ |  | \__  \ _/ ___\\__  \  
            /    Y    \/ __ \|  |__/ __ \\  \___ / __ \_
            \____|__  (____  /____(____  /\___  >____  /
                    \/     \/          \/     \/     \/ 
            
            Hey! If you're reading this... you just found my little easter egg :P
            The 100 best Easter Eggs of all time :D < http://www.gamesradar.com/100-best-easter-eggs-all-time/ >
            Want to make your Text to ASCII ART? < http://patorjk.com/software/taag/#p=display&f=Graffiti&t=Type%20Something%20 >
            Enjoy the code... anything you need, just mail me :)
        -->
  </head>
  <body>
    
    <h2> Hello World... :D </h2>
  
  </body>
</html>
